/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5; }

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img, svg[role="img"] {
  max-width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove _all_ animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-play-state: paused !important;
    transition: none !important;
    scroll-behavior: auto !important; } }

/*** Variables ***/
/*** Utility Classes ***/
.bigger {
  font-size: 1.125em; }

.header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: #FAFAFA;
  background-color: #0088BB; }
  .header__desc {
    display: inline-block;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Anitqua, Georgia, serif;
    line-height: 1;
    text-transform: uppercase;
    padding-bottom: .25rem;
    margin-top: .5rem;
    border-bottom: 1px solid #FAFAFA; }
    .header__desc__top {
      font-size: 1.875rem; }
    .header__desc__bottom {
      font-size: 1.4rem; }
  .header__wrap {
    text-align: center;
    padding: 3.375rem; }
    .header__wrap > * + * {
      margin-top: 1.5rem; }
  .header__phone {
    display: block;
    font-size: 2rem;
    line-height: 1rem;
    color: #FAFAFA;
    text-decoration: none;
    font-weight: 600; }
  .header__address {
    font-size: .875rem;
    margin-top: .25rem; }
