footer.footer
	div.site-info(role="contentinfo")
		span.footer__copyright(role="contentinfo") &copy;2019 Chill Out Cafe
		span.footer__author Site designed by #[a(href='https://charlesrobertson.io') Charles Robertson]