header.header
	.header__wrap
		img(src='images/chill-out-logo.svg' alt='Chill Out Cafe')
		.header__desc
			.header__desc__top #[span.bigger T]hai Cuisine #[span.bigger &amp;]
			.header__desc__bottom #[span.bigger A]merican #[span.bigger B]reakfast
		hr.header__hr(noshade)
		.header__address 729 Burdette St, New Orleans, LA 70118
		a.header__phone(href='href="&#116;&#101;&#108;:(&#053;&#048;&#052;)&#032;&#056;&#055;&#050;&#045;&#057;&#054;&#050;&#056;') (&#053;&#048;&#052;)&#032;&#056;&#055;&#050;&#045;&#057;&#054;&#050;&#056;
		.header__hours
			p Sun 9am-3pm
			p Mon-Fri 10am-9pm
			p Sat 9am-9pm