header.header
	.header__wrap
		img(class='header__logo' src='images/chill-out-logo.svg' alt='Chill Out Cafe')
		.header__desc(aria-label="Thai Cuisine & American Breakfast")
			.header__desc__top(aria-hidden) #[span.bigger T]hai Cuisine #[span.bigger &amp;]
			.header__desc__bottom(role="presentation") #[span.bigger A]merican #[span.bigger B]reakfast
		hr.header__hr(noshade role='presentation')
		.header__address 729 Burdette St, New Orleans, LA 70118
		a.header__phone(href='href="&#116;&#101;&#108;:(&#053;&#048;&#052;)&#032;&#056;&#055;&#050;&#045;&#057;&#054;&#050;&#056;') (&#053;&#048;&#052;)&#032;&#056;&#055;&#050;&#045;&#057;&#054;&#050;&#056;
		.header__hours(aria-label="hours of operation")
			p Sun 9am&ndash;3pm
			p Mon&ndash;Fri 10am&ndash;9pm
			p Sat 9am&ndash;9pm