/*** Variables ***/
$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$heading-font: Palatino, Palatino Linotype, Palatino LT STD, Book Anitqua, Georgia, serif;

$ratio: 1.5;
$s0: 1rem;
$s-1: $s0 / $ratio;
$s-2: $s-1 / $ratio;
$s-3: $s-2 / $ratio;
$s1: $s0 * $ratio;
$s2: $s1 * $ratio;
$s3: $s2 * $ratio;

$paper-white: #FAFAFA;
$ink-black: #222244;
$chill-out-blue: #0088BB;

/*** Utility Classes ***/
.bigger {
	font-size: 1.125em;
}

/*** Layout ***/

body {
	color: $ink-black;	
}

.page-title {
	font-size: 2.5rem;
	line-height: 1;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	color: $ink-black;
	margin-bottom: .5em;
}

article {
	box-sizing: content-box;
	max-width: 60ch;
	margin-left: auto;
	margin-right: auto;
	padding: $s1;
}

