.header {
	font-family: $body-font;
	text-align: center;
	color: $bright-white;
	background-color: $chill-out-blue;

	&__wrap {
		display: inline-block;

	}

	&__logo {
		max-width: 16.875rem;
		margin: 0 auto;
	}

	&__desc {
		display: inline-block;
		font-family: $heading-font;
		line-height: 1;
		text-transform: uppercase;
		padding-bottom: .25rem;
		margin-top: .5rem;

		&__top {
			font-size: 1.875rem;
		}

		&__bottom {
			font-size: 1.4rem;
		}
	}
	
	&__hr {
		margin: 0 auto;
		color: $paper-white;
		background-color: $paper-white;
		width: 90%;
		height: 1px;
		border-width: 0;
	}

	&__wrap {
		text-align: center;
		padding: $s3;
	}

	&__address {
		font-size: .875rem;
		margin-top: .25rem;
	}

	&__phone {
		display: block;
		font-size: 1.75rem;
		line-height: 1;
		color: $paper-white;
		text-decoration: none;
		font-weight: 600;
		margin-top: $s0;
	}

	&__hours {
		margin-top: $s0;
	}

	

}

