.header {
	font-family: $body-font;
	color: $paper-white;
	background-color: $chill-out-blue;

	&__desc {
		display: inline-block;
		font-family: $heading-font;
		line-height: 1;
		text-transform: uppercase;
		padding-bottom: .25rem;
		margin-top: .5rem;
		border-bottom: 1px solid $paper-white;

		&__top {
			font-size: 1.875rem;
		}

		&__bottom {
			font-size: 1.4rem;
		}
	}
	
	&__wrap {
		text-align: center;
		padding: $s3;

		& > * + * {
			margin-top: $s1;
		}
	}

	&__phone {
		display: block;
		font-size: 2rem;
		line-height: $s0;
		color: $paper-white;
		text-decoration: none;
		font-weight: 600;
	}

	&__address {
		font-size: .875rem;
		margin-top: .25rem;
	}

}

